@page
@model robinerlacher.online.Pages.AboutModel
@{
    ViewData["Title"] = robinerlacher.online.Lang.TitleAbout;
}
<div class="text-center">
    <h1 class="display-4">@robinerlacher.online.Lang.HeadingAbout</h1>
</div>