@page
@model robinerlacher.online.Pages.CodingModel
@{
    ViewData["Title"] = robinerlacher.online.Lang.TitleCoding;
}
<div class="text-center">
    <h1 class="display-4">@robinerlacher.online.Lang.HeadingCoding</h1>
</div>