@page
@model robinerlacher.online.Pages.IcehockeyModel
@{
    ViewData["Title"] = robinerlacher.online.Lang.TitleIcehockey;
}
<div class="text-center">
    <h1 class="display-4">@robinerlacher.online.Lang.HeadingIcehockey</h1>
</div>