@page
@model IndexModel
@{
    ViewData["Title"] = robinerlacher.online.Lang.TitleIndex;
}

<div class="text-center">
    <h1 class="display-4">@robinerlacher.online.Lang.HeadingIndex</h1>
    <p>@Html.Raw(robinerlacher.online.Lang.IndexWelcomeText)</p>
    <img src="~/assets/img/bg-masthead.jpg" width="50%"/>
</div>