@page
@model robinerlacher.online.Pages.MotorcycleModel
@{
    ViewData["Title"] = robinerlacher.online.Lang.TitleMotorcycle;
}
<div class="text-center">
    <h1 class="display-4">@robinerlacher.online.Lang.HeadingMotorcycle</h1>
</div>