<head>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.10.1/mdb.min.css" rel="stylesheet" />
</head>

<footer class="bg-dark text-center text-white fixed-bottom">
    <div class="container p-3">
        <section class="p-1">
            <!-- Icons -->
            <a class="btn btn-outline-light btn-floating m-1" role="button" href="https://github.com/rerlache" target="_blank" title="Github">
                <i class="fab fa-github-square"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" role="button" href="https://twitter.com/rerlache" target="_blank" title="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" role="button" href="https://www.linkedin.com/in/robin-erlacher-4ba8bb229/" target="_blank" title="Linkedin">
                <i class="fab fa-linkedin"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" role="button" href="https://www.facebook.com/rerlache/" target="_blank" title="Facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" role="button" href="https://www.instagram.com/re86_photo/" target="_blank" title="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="btn btn-outline-light btn-floating m-1" role="button" href="mailto:main@robinerlacher.online" target="_blank" title="Mail">
                <i class="fas fa-at"></i>
            </a>
                &copy; 2022 - robinerlacher.online
        </section>
    </div>
</footer>

@code {

}
