
    <div class="text-center p-1" style="background-color: rgba(0,0,0,0.2);">
        <!-- Icons -->
        <div>

            <a class="btn btn-outline-dark btn-floating m-1" role="button" href="https://github.com/rerlache" target="_blank" title="Github">
                <i class="fab fa-github-square"></i>
            </a>
            <a class="btn btn-outline-dark btn-floating m-1" role="button" href="https://twitter.com/rerlache" target="_blank" title="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
            <a class="btn btn-outline-dark btn-floating m-1" role="button" href="https://www.linkedin.com/in/robin-erlacher-4ba8bb229/" target="_blank" title="Linkedin">
                <i class="fab fa-linkedin"></i>
            </a>
            <a class="btn btn-outline-dark btn-floating m-1" role="button" href="https://www.facebook.com/rerlache/" target="_blank" title="Facebook">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a class="btn btn-outline-dark btn-floating m-1" role="button" href="https://www.instagram.com/re86_photo/" target="_blank" title="Instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a class="btn btn-outline-dark btn-floating m-1" role="button" href="mailto:main@robinerlacher.online" target="_blank" title="Mail">
                <i class="fas fa-at"></i>
            </a>
        </div>
        <!-- Copyright -->
        <div>
            &copy; 2022 - robinerlacher.online - <a class="text-white" href="privacy">Privacy</a>
        </div>
    </div>

@code {

}
