@inherits LayoutComponentBase

    <div class="page container-fluid">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow mb-3 fixed-top">
            <NavMenu />
        </nav>
        <main class="main content text-center">
            @Body
        </main>
        <footer class="footer">
            <Footer />
        </footer>
    </div>
