@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4 mb-5">
            @Body
        </div>
        <div class="modal-footer fixed-bottom">
            &copy; 2022 Robin Erlacher
        </div>
    </div>
</div>
