@page "/coding"

<Jumbotron Background="Background.Light">
    <JumbotronTitle>
        @((MarkupString)Resources.Lang.HeadingCoding)
    </JumbotronTitle>

    <p>@Resources.Lang.UnderConstruction</p>
</Jumbotron>
@code {

}
