@page "/icehockey"

<Jumbotron Background="Background.Light">
    <JumbotronTitle>
        @Resources.Lang.HeadingIcehockey

    </JumbotronTitle>
    <p>@Resources.Lang.UnderConstruction</p>
</Jumbotron>

@code {

}
