@page "/"
@code{ 
    bool showModal = false;
    string imgSource = "";
}

<h1>@Resources.Index.Heading</h1>

<p>@((MarkupString)Resources.Index.WelcomeText)</p>

<p>
        <img srcset="assets/images/WorkPlace.jpg" width="30%" class="img-thumbnail" alt="@Resources.Index.CoverImageAltText"  />
</p>



@*
    <SurveyPrompt Title="How is Blazor working for you?" />
*@
