@page "/"


<h1>@Resources.Lang.HeadingIndex</h1>

@((MarkupString)Resources.Lang.IndexWelcomeText)

<p>
    <img src="assets/images/bg-masthead.jpg" width="50%" />
</p>

<SurveyPrompt Title="How is Blazor working for you?" />
