@page "/motorcycle"

<Jumbotron Background="Background.Light">
    <JumbotronTitle>
        @Resources.Lang.HeadingMotorcycle
    </JumbotronTitle>
    <p>@Resources.Lang.UnderConstruction</p>
</Jumbotron>
