@page "/privacy"
<h3>@Resources.PrivacyRes.TitlePrivacy</h3>

<p> @((MarkupString)Resources.PrivacyRes.PrivacyContent)</p>

<h3>@Resources.PrivacyRes.TitleImprint</h3>
<p>@((MarkupString)Resources.PrivacyRes.ImprintContent)</p>

@code {

}
